{% extends "base.html" %}
{% block content %}
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article>
                <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                <h6><i class="fa fa-calendar"></i><time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time></h6>
                <img class="img-rounded" style="margin: 0px 8px; float: left;" alt="Summary Image" src="/images/summary/thumbnail/{{ article.image }}"/>
                <div class="summary">{{ article.summary }}
                    <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">more ...</a>
                    {% if SUMMARY_COMMENT_COUNT %}
                        {% include 'includes/comment_count.html' %}
                    {% endif %}
                </div>
            </article>
            <hr/>
        {% endfor %}
    {% endif %}

    {% include 'includes/pagination.html' %}
{% endblock content %}
