<footer>
   <div class="container">
      <hr>
      <div class="row">
         {% if articles %}
            {% set copy_date = articles[0].date.strftime('%Y') %}
         {% else %}
            {% set copy_date = '' %}
         {% endif %}
         <div class="col-xs-10">This Blog Powered By 
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>, And
            <a href="/pages/this-blog-is-powered-by.html" target="_blank">Other Things</a>.
            <p>
            <a href="http://opensource.org/">
                <img src="/images/logos/open_source_logo.png" alt="Open Source Logo" title="The Open Source Initiative (OSI) is a non-profit corporation with global scope formed to educate about and advocate for the benefits of open source, and to build bridges among different constituencies in the open source community. The OSI maintains the Open Source Definition and the list of Open Source Initiative-approved licenses." height="40px" width="40px">
            </a>
            <a href="http://www.oshwa.org/">
                <img src="/images/logos/open-soruce-hardware-logo-800-px.png" alt="Open Source Hardware Logo" title="The Open Source Hardware Association aims to be the voice of the open hardware community, ensuring that technological knowledge is accessible to everyone, and encouraging the collaborative development of technology that serves education, environmental sustainability, and human welfare." height="40px" width="40px">
            </a>
            <small>
                All my work on this blog is
                <a href="http://opensource.org/licenses/MIT/" target="_blank">MIT Licensed, open, and free</a>,
                except where indicated otherwise.
            </small>
            </p>
         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
